<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.disciplines') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.discipline.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.name %></td>
        <td><%= link_to t('activerecord.show'), discipline %></td>
        <td><%= link_to t('activerecord.edit'), edit_discipline_path(discipline) %></td>
        <td><%= link_to t('activerecord.destroy'), discipline, method: :delete, data: { confirm: t('activerecord.question') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('activerecord.discipline.new_discipline'), new_discipline_path %>
